@import '../style/colors'
@import './_box'

.featured-box-component, .content-page
  @extend .box-component
  height: initial
  margin: 20px 10px
  .title
    width: calc(100% - 132px)
  .image
    height: 200px
    width: 200px
  .date
    float: right
    width: 100px
  .text
    margin: 10px 0
    padding: 10px
    height: 50px
    width: calc(100% - 200px)
  .tags
    margin-left: 10px
    display: inline-block

.content-page
  min-height: 600px
  padding: 50px

  img
    max-width: 100%
@media all and (max-width: 900px)
  .featured-box-component, .content-page
    padding: 10px
  .featured-box-component
    width: 100%
    margin: 0 auto 16px
    .title
      padding: 0
      margin: 0
    .title, .date, .text, .tags
      width: initial
    .title
      height: initial
      margin-bottom: 16px
    .image
      width: 100%
    .text
      padding-left: 0
    .tags
      margin-left: 0
