@import '../style/colors'
@import './_box'

.featured-box-component, .content-page
  @extend .box-component
  min-height: 400px
  height: initial
  width: calc(100% - 20px)
  margin: 20px 10px
  .image
    height: 300px
    width: 100%
  .date
    float: right
  .text
    margin: 10px 0
    padding: 10px 0
    height: 50px

.content-page
  min-height: 600px
  padding: 50px
