footer.footer-component
  .footer-content
    p=description
    p MAGPIE DEV articles by:
    a(href='https://stephenlacy.com/' target='_blank') Stephen Lacy
    br
    br
    div logo magpie icon by
    a(href='https://thenounproject.com/phlehmann/' target='_blank') Philipp Lehmann
  p &copy; 2017 magpiedev
