footer.footer-component
  .footer-content
    p=description
    a(href='https://blog.codinghorror.com/the-magpie-developer/' target='_blank') The Magpie developer
    br
    br
    div logo magpie icon by
    a(href='https://thenounproject.com/followscontent/' target='_blank') Philipp Lehmann
  p © 2017 magpiedev
