@import '../style/colors'
.view
  max-width: $sizes-max-page-width
  min-height: 600px
  width: calc(100% - 20px)
  margin: 10px
  border-radius: 3px

  .post-title
    font-size: 2rem
    float: left

  .post-image
    background-color: $color-white-shade
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    height: 200px
    width: 200px
    margin: 100px auto 50px

  .post-date
    float: right
    margin-top: 2px

  .post-fin
    margin: 20px auto
    width: 100%
    text-align: center
    img
      width: 50px

  pre
    background: #273239
    padding: 20px
    margin: 20px 0
    word-wrap: break-word
    white-space: pre-wrap

  .spacer
    height: 25px
    &.h50
      height: 50px
    &.h100
      height: 100px

  @media all and (max-width: 970px)
    .content-page
      padding: 10px
      margin: 5px
      width: calc(100% - 10px)
      .post-title, .post-date
        text-align: center
      .post-date
        margin: 5px auto
        float: initial

