extends layout/_default

block vars
  - var page_title = '404 not found | ' + description
  - var page_active = '404'

block content
  .view
    .title-component.large.centered 404 not found
    .title-component.large.centered :(
