extends layout/_default

block vars
  - var page_title = 'Articles'
  - var page_active = 'posts'
  - var posts = pages.filter(v => v.featured).sort((a, b) => b.timestamp - a.timestamp)
block content
  .view
    .title-component Articles
    each page in posts
      a.box-component(href=`${page_prefix + page.path}`)
        .image(style='background-image: url("' + page.image + '")')
        .title=page.title
        .date=page.date
        .text=page.description
